@import "tailwindcss";

@theme inline {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-text-primary: var(--text-primary);
}

:root {
  --bg: #fafafa;       /* zinc-50  */
  --surface: #ffffff;  /* white    */
  --border: #e4e4e7;   /* zinc-200 */
  --text-primary: #18181b; /* zinc-900 */
}

.dark {
  --bg: #000000;       /* black    */
  --surface: #18181b;  /* zinc-900 */
  --border: #27272a;   /* zinc-800 */
  --text-primary: #f4f4f5; /* zinc-100 */
}
